@import "../../variables";

.boardlist {
  width: 100%;

  .top1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      @include title();
      display: flex;
      height: 2rem;
    }

    .back {
      width: 3rem;
      height: 2rem;
      background-color: #e1e2e3;
      border: none;
      border-radius: 2px;

      &:hover {
        transform: scale(0.98);
        background-color: #7697a0;
        color: #fff;
      }
    }
  }

  .others {
    display: flex;
    justify-content: space-between;

    .writer {
      display: flex;
      gap: 10px;

      img {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
      }

      .name1 {
        text-align: center;
      }
    }

    .etc {
      display: flex;
      gap: 1rem;
    }
  }

  .content1 {
    border: 1px solid #e1e2e3;
    padding: 1rem;
    text-align: left;
    min-height: 20rem;
    border-radius: 3px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border: 1px solid #e1e2e3;
    border-radius: 3px;

    .move {
      padding: 10px 10px 10px 20px;
      display: flex;
      align-items: center;

      .left {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        flex: 1;
      }

      .right {
        flex: 5;
      }
    }
    #border {
      border-bottom: 1px solid #e1e2e3;
    }
  }
}
