<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.spring.bearbom.mapper.UserMapper" >
	<update id="updateUser" parameterType="user">
		UPDATE T_USER
			<set> 
				<if test='userPw != null and !("").equals(userPw)'>
					USER_PW = #{userPw},
				</if>
				<if test='userNm != null and !("").equals(userNm)'>
					USER_NM = #{userNm},
				</if>
				<if test='userNickName != null and !("").equals(userNickName)'>
					USER_NICK_NAME = #{userNickName},
				</if>
				<if test='userTel != null and !("").equals(userTel)'>
					USER_TEL = #{userTel},
				</if>
				<if test='userAddress != null and !("").equals(userAddress)'>
					USER_ADDRESS = #{userAddress},
				</if>
				<if test='userAddressDef != null and !("").equals(userAddressDef)'>
					USER_ADDRESS_DEF = #{userAddressDef},
				</if>
				<if test='userZipcode != null and !("").equals(userZipcode)'>
					USER_ZIPCODE = #{userZipcode},
				</if>
				<if test='userEmail != null and !("").equals(userEmail)'>
					USER_EMAIL = #{userEmail},
				</if>
				<if test='userYn != null and !("").equals(userYn)'>
					USER_YN = #{userYn},
				</if>
				
			</set>
			WHERE USER_ID = #{userId}
	</update>
	
	
	 <select id="getUserList" resultType="camelHashMap">
        <![CDATA[
 			SELECT * FROM T_USER;
        ]]>
    </select>
</mapper>

