.admin_navbar {
  height: 3.1rem;
  border-bottom: 1px solid #e1e2e3;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .targetWrapper {
      display: flex;
      line-height: 20px;
      flex: 2;

      ul {
        height: 20px;
        margin: 0px;
        li {
          float: left;
          height: 10px;
          margin: 0px 15px;
          list-style: none;
          cursor: pointer;

          input {
            margin-left: 10px;
            border: none;
            border-bottom: 2px solid #4a707a;
          }
        }
      }
    }
    .search {
      display: flex;
      align-items: center;
      border: 1px solid #e1e2e3;
      padding: 0.2rem;

      #searchIcon:hover {
        cursor: pointer;
      }

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          font-size: 1rem;
        }
      }
    }
  }
}
