@import "../../../variables";

.chart {
  flex: 5;
  flex-direction: column;
  border-radius: 5px;
  padding: 1rem;
  color: gray;
  justify-content: space-between;
  @include shadow();

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      @include title();
    }

    .top_right {
      display: flex;

      select {
        height: 10px;
      }
    }
  }
}
