<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.spring.bearbom.mapper.CourseMapper">
    <select id="getLocationCodeList" resultType="camelHashMap">
        SELECT *
        	FROM T_CMMN_CODE
        	WHERE CMMN_CODE_TYPE = 'B'
    </select>
    
    <select id="getCategoryCodeList" resultType="camelHashMap">
        SELECT *
        	FROM T_CMMN_CODE
        	WHERE CMMN_CODE_TYPE = 'A'
    </select>

    <select id="getCourseList" resultType="camelHashMap">
        <![CDATA[
        SELECT A.*
            , IFNULL(B.RATE, 0) AS RATE
            FROM T_COURSE A
            LEFT OUTER JOIN (
                            SELECT C.COURSE_IDX,
                                ROUND(AVG(C.COURSER_RATE), 2) AS RATE
                                FROM T_COURSER C
                                GROUP BY C.COURSE_IDX
                            ) B
            ON A.COURSE_IDX = B.COURSE_IDX
            WHERE A.COURSE_USE_YN = 'Y'
            ORDER BY B.RATE DESC
        ]]>
    </select>

    <select id="getSearchProducts" parameterType="map" resultType="camelHashMap">
            SELECT A.*
            , IFNULL(B.RATE, 0) AS RATE
            FROM T_COURSE A
            LEFT OUTER JOIN (
                            SELECT C.COURSE_IDX,
                                ROUND(AVG(C.COURSER_RATE), 2) AS RATE
                                FROM T_COURSER C
                                GROUP BY C.COURSE_IDX
                            ) B
            ON A.COURSE_IDX = B.COURSE_IDX
            WHERE A.COURSE_USE_YN = 'Y'
            <if test="searchProduct.courseSearch != null and searchProduct.courseSearch != ''">
                AND A.COURSE_NM LIKE CONCAT('%', #{searchProduct.courseSearch}, '%')
            </if>
            <if test="searchProduct.courseLocation != null and searchProduct.courseLocation != ''">
                <if test="searchProduct.courseLocation != 'all'">
                    AND A.COURSE_LOCATION = #{searchProduct.courseLocation}
                </if>
            </if>
            <if test="searchProduct.courseCategory != null and searchProduct.courseCategory != ''">
                <if test="searchProduct.courseCategory != 'all'">
                    AND A.COURSE_CATEGORY = #{searchProduct.courseCategory}
                </if>
            </if>
            <if test="searchProduct.courseLevel != null and searchProduct.courseLevel != ''">
                AND A.COURSE_LEVEL = #{searchProduct.courseLevel}
            </if>
            <if test="searchProduct.courseStTime != null and !searchProduct.courseStTime.equals('')">
                <![CDATA[AND A.COURSE_ST_TIME >= #{searchProduct.courseStTime}]]>
            </if>
            <if test="searchProduct.courseEndTime != null and !searchProduct.courseEndTime.equals('')">
                <![CDATA[AND A.COURSE_END_TIME <= #{searchProduct.courseEndTime}]]>
            </if>
            <if test="searchProduct.courseStCost != null and searchProduct.courseStCost != ''">
                <![CDATA[AND A.COURSE_COST >= #{searchProduct.courseStCost}]]>
            </if>
            <if test="searchProduct.courseEndCost != null and searchProduct.courseEndCost != ''">
                <![CDATA[AND A.COURSE_COST <= #{searchProduct.courseEndCost}]]>
            </if>
            ORDER BY B.RATE DESC
    </select>
    

    <select id="getMyOpenedClassList" resultType="camelHashMap">
    	SELECT *
    		FROM T_COURSE
    		WHERE USER_ID = #{userId}
    </select>
    
    <select id="getNextFileIdx" parameterType="int" resultType="int">
    	SELECT IFNULL(MAX(COURSE_FILE_IDX), -1) + 1
    		FROM T_COURSE_FILE
    		WHERE COURSE_IDX = #{courseIdx}
    </select>
    
    
    <update id="setSqlSafe">
   		 <![CDATA[
	    	SET SQL_SAFE_UPDATES = 0;
		]]>
    </update>
    
    <update id="updateCourseUseYnByDay">
    	<![CDATA[
	    	UPDATE T_COURSE
				SET COURSE_USE_YN = 'N'
			    WHERE COURSE_END_DATE <= DATE_FORMAT(now(), '%Y-%m-%d');
		]]>
    </update>
</mapper>