@import "../../../variables";

.featured {
  flex: 2;
  border-radius: 5px;
  padding: 1rem;
  @include shadow();

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: gray;

    .title {
      @include title();
    }
  }

  .bottom {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    // .featuredChart {
    //   width: 100px;
    //   height: 100px;
    // }

    .title {
      font-weight: 500;
      color: gray;
    }

    .amount {
      font-size: 30px;
    }

    .desc {
      font-weight: 400;
      font-size: 0.8rem;
      color: gray;
    }

    .summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;

        .itemTitle {
          font-size: 1rem;
          color: gray;
        }

        .itemResult {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 1rem;

          &.positive {
            color: rgb(255, 80, 80);
          }

          &.negative {
            color: rgb(80, 80, 255);
          }
        }
      }
    }
  }
}
