<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.bearbom.mapper.MypageMapper">
    
    <select id="getWishList" resultType="camelHashMap" parameterType="com.spring.bearbom.dto.CourseDTO">
        <![CDATA[
            SELECT A.*
	        FROM T_COURSE A,
		        T_LIKE B
	        WHERE B.USER_ID = #{userId}
	        AND A.COURSE_IDX =  B.COURSE_IDX
        ]]>
    </select>
    
    <update id="deleteUserInfo" parameterType="string">
    	<![CDATA[
            UPDATE T_USER
            	SET
            		USE_YN = 'N'
            	WHERE USER_ID = #{userId}
        ]]>
    </update>


    <select id="getWishCnt" resultType="camelHashMap" parameterType="com.spring.bearbom.dto.CourseDTO">
        <![CDATA[
            SELECT COUNT(*) AS likedCourseCnt
                FROM T_COURSE A,
                     T_LIKE B
                WHERE B.USER_ID = #{userId}
                AND A.COURSE_IDX = B.COURSE_IDX
        ]]>
    </select>
   
    <select id="getInquiryReference" parameterType="com.spring.bearbom.dto.InquiryDTO" resultType="camelHashMap">
    <![CDATA[
    SELECT * FROM T_INQUIRY WHERE USER_ID = #{userId} AND inquiry_use_yn = 'Y'
    ]]>
    </select>
    
     <update id="updateInquiryReference" parameterType="com.spring.bearbom.dto.InquiryDTO">
    <![CDATA[
    	UPDATE T_INQUIRY 
    		SET INQUIRY_USE_YN = "N" 
    		WHERE USER_ID = #{userId} 
    		  AND INQUIRY_IDX = #{inquiryIdx}
    ]]>
    </update>
</mapper>

