@import "../../variables";

.payment {
  width: 100%;

  .payment_body {
    width: 100%;
    display: flex;
    flex-direction: column;

    .table {
      display: flex;
      width: 100%;

      table {
        width: 100%;

        tr {
          .l5 {
            width: 5%;
          }
          .l10 {
            width: 10%;
          }
          .l15 {
            width: 15%;
          }
          .l40 {
            width: 40%;
          }

          .th {
            border: none;
          }
          td {
            border: 1px solid black;
            min-height: 50px;
          }
        }
      }
    }

    .sum {
      display: flex;
      justify-content: flex-end;
      font-size: 25px;
      font-weight: bold;
      color: #d56161;
    }

    .paymentMethod {
      width: 800px;
      min-height: 150px;
      display: flex;
      justify-content: space-between;

      div {
        @include shadow();
        width: 180px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        img {
          width: 120px;
          height: 120px;
          border-radius: 5px;
          overflow: hidden;
        }
      }
    }
  }
}
