.sales-filter-wrapper {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-right: 5rem; */
  /* background-color: aqua; */
}

.sales-filter-wrapper input,
select {
  height: 2rem;
  border: none;
  border-bottom: 2px solid #7697a0;
  background-color: #f5f5f5;
  outline: none;
}
.sales-filter-wrapper input {
  width: 15rem;
}
.sales-filter-wrapper select {
  width: 5rem;
}

.sales-table-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.salesTable {
}

.salesTable-title {
  font-weight: 700;
}

.salesTd {
  text-align: right;
  height: 40px;
  max-height: 2rem;
  border-bottom: 1px solid lightgray;
}

.veryShort {
  min-width: 5%;
}
.short {
  width: 10%;
}

.medium {
  min-width: 15%;
}

.long {
  max-width: 30%;
  min-width: 100px;
}

.pagination-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
