@import "../../variables";

.table_home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .top1 {
    // background-color: aqua;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;

    button {
      line-height: 100%;
      color: #fff;
      font-weight: 600;
      width: 4rem;
      height: 2rem;
      background-color: #7697a0;

      &:hover {
        transform: scale(0.95);
        background-color: #4a707a;
      }
    }

    .search {
      border: 1px solid #7697a0;
      height: 2rem;
      display: flex;
      flex-direction: row;

      select,
      input {
        height: 100%;
        border: none;
        background-color: #fff;
        outline: none;
      }

      button {
        line-height: 100%;
        color: #fff;
        font-weight: 600;
        width: 4rem;
        background-color: #7697a0;
        border: 1px solid #7697a0;
      }
    }
  }

  .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    table {
      width: 100%;

      .row_title {
        text-transform: capitalize;
        color: #fff;
        height: 2.2rem;
        max-height: 5rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        font-weight: 600;
        background-color: #94b0b7;
      }

      .row_data {
        height: 3rem;
        max-height: 5rem;
        border-bottom: 1px solid lightgray;

        &.hasImg {
          height: 4rem;
        }
      }

      .column {
        padding-left: 10px;
      }

      .l5 {
        width: 5%;
      }

      .l10 {
        width: 10%;
        word-wrap: break-word;
      }

      .l20 {
        width: 20%;
        word-wrap: break-word;
      }

      .l30 {
        width: 30%;
        word-wrap: break-word;
      }

      .l40 {
        width: 40%;
        word-wrap: break-word;
      }

      .index {
        width: 30px;
        text-align: right;
      }
    }
  }

  .bottom {
    @include flexCenter(row);
    height: 2rem;
  }

  .smallImage {
    width: 35px;
    height: 35px;
    // border-radius: 50%;
  }

  .approved {
    color: #284492;
    font-weight: 600;
  }
  .deleted {
    color: #c32b46;
    font-weight: 600;
  }
  .pending {
    text-align: center;
    font-weight: 600;
    border: none;
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: #7697a0;
    border-radius: 3px;

    &:hover {
      transform: scale(0.95);
      background-color: #4a707a;
      font-weight: 700;
    }
  }
}
