@import "../../../variables";

.admin_home {
  display: flex;

  .homeContainer {
    // background-color: lightblue;
    flex: 7;

    .widgets {
      display: flex;
      padding: 1rem;
      gap: 1rem;
    }
  }
  .content {
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }
}
