@import "../../../variables";

.admin_home {
  display: flex;

  .homeContainer {
    // background-color: lightblue;
    flex: 7;

    .widgets {
      display: flex;
      padding: 1rem;
      gap: 1rem;
    }

    .charts {
      display: flex;
      padding: 1rem;
      gap: 1rem;
    }
    .content {
      @include shadow();
      display: flex;
      padding: 1rem;
      gap: 1rem;
      margin: 1rem;
    }
  }
}
