@import "../../../variables";

.admin_home {
  display: flex;

  .homeContainer {
    // background-color: lightblue;
    flex: 7;

    .widgets,
    .charts {
      display: flex;
      padding: 1rem;
      gap: 1rem;
    }

    .charts {
      padding: 5px 20px;
    }
  }
  .listContainer {
    padding: 5px 20px;
    padding: 20px;
    margin: 20px;
    @include shadow();

    .listTitle {
      @include title();
    }
  }
}
