@import "../../../variables";

.quickviewbox {
  .charts {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    padding: 5px 20px;
  }
  .listContainer {
    padding: 5px 20px;
    padding: 20px;
    margin: 20px;
    @include shadow();
  }
}
