.checkItem textarea {
  width: 100%;
  line-height: 27px;
  /* padding: 5px 0; */
  resize: none;
  border: none;
}

.review-textarea {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.5em;
  text-align: left;
  width: 100%;
  border: 1px solid black;
}
