.course-main {
  margin-left: 10%;
  margin-right: 10%;
  background-color: beige;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.testDiv {
  text-align: center;
  background-color: aqua;
  margin: 20px;
  width: 200px;
  height: 300px;
}


.class-category button {
  margin: 3px;
  width: 80px;
}

#btn-category1 {
  border: 1px solid black;
  border-radius: 10px;
}

#btn-category2 {
  border: 1px solid black;
  border-radius: 10px;
}

.class-week button {
  margin: 3px;
  width: 80px;
}

#btn-week1 {
  border: 1px solid black;
  border-radius: 10px;
}

#btn-week2 {
  border: 1px solid black;
  border-radius: 10px;
}

#btn-week3 {
  border: 1px solid black;
  border-radius: 10px;
}

.class-level button {
  margin:3px;
  width: 80px;
}

#btn-level1 {
  border: 1px solid black;
  border-radius: 10px;
}

#btn-level2 {
  border: 1px solid black;
  border-radius: 10px;
}

#btn-level3 {
  border: 1px solid black;
  border-radius: 10px;
}

#refreshBtn {
  border: 2px solid #958a78;
  border-radius: 10px;
  height: 45px;
  color: rgb(59, 73, 78);
}

.time-slider {
  display: flex;
}

.price-slider {
  display: flex;
}

.category-font {
  font-weight: bold;
}

.css-1x5jdmq {
  text-align: center;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #958a78;
}

.searchForm {
  display: flex;
}

#resetIcon {
  width: 22px;
  padding-right: 1px;
}

.search-input {
  border-radius: 11px;
  width: 220px;
  margin-left: 3px;
}

.searchIcon {
  width: 30px;
  margin-left: 5px;
}

.searchIcon2 {
  width: 20px;
}

#btnGroupAddon {
  background-color: #958a78;
  border: 2px solid #958a78;
}

.form-control {
  border: 2px solid #958a78;;
}

.search-btn {
  background-color: #1c1c23;
  margin-left: 1px;
  border-radius: 10px;
}

.time-slider-bar {
  width:220px;
  margin: 0px 13px;
}

/* #time-slider1 {
  color: #958a78;
} */

.price-slider-bar {
  width:220px;
  margin: 0px 13px;
}

#searchBtn {
  background-color: #958a78;
  color: rgb(59, 73, 78);
  border-radius: 10px;
  width: 100px;
  height: 45px;
}

.classCount {
  font-size: 20px;
  margin-left: 70px;
}

#pagePart {
  justify-content: center;
}

.page-item {
  border: 1px solid #a3a3c4;
}

.page-link {
  color: rgb(49, 45, 48);
}

.searchContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Pagination css */
.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}
