/* @fontface {
  font-family: "Noto Sans", cursive;
  src: url("https://fonts.googleapis.com/css?family=Noto Sans");
} */
body {
  /* font-family: "Noto Sans", cursive; */
}

.detail-main {
  margin-left: 10%;
  margin-right: 10%;
  background-color: beige;
  justify-content: center;
}
.main-container {
  height: auto;
  width: 80%;
  margin: auto;
}

.img {
  height: 15%;
  margin-top: 20px;
}
.info {
  height: 84%;
  margin-left: 20px;
  clear: both;
}
.main-info {
  float: left;
  width: 65%;
  height: 100%;
}
.main-cal {
  float: right;
  width: 34%;
  height: 100%;
  position: sticky;
}
.main-img-box {
  margin: 54px 120px 50px 120px;
}
.main-img {
  float: left;
  width: 48%;
  height: 100%;
  margin-left: 20px;
  margin-right: 10px;
}
.sub-total-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 48%;
  height: 100%;
  grid-template-rows: repeat(2, 50%);
  overflow: hidden;
}

.img1 {
  height: 100%;
}
.nav-list {
  padding-left: 20px;
  color: black;
  font-weight: bold;
}

.main-cal {
  padding-right: 10px;
  text-align: center;
}

.teacher-info2 {
  width: 30%;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.teacher-container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(50px, auto);
}

.teacher-profile {
  grid-column: 1 / span 2;
  grid-row: 1 / 8;
  text-align: center;
}

.teacher-content {
  grid-column: 3 / span 5;
  grid-row: 1/10;
}

.teacher-clear {
  clear: both;
}

.teacher-Info-box {
  margin-top: 10px;
}

.teacher-num {
  text-align: center;
}

.info-table {
  border-spacing: 2px;
  border-collapse: separate;
}

.teacher-sales {
  float: left;
  text-align: center;
}

.teacher-rating {
  float: left;
  text-align: center;
}

.grid-box {
  display: inline-block;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  width: 35%;
  float: left;
}

.item1 {
  grid-column-end: span 2;
  text-align: center;
}
.item2 {
  float: left;
  width: 65%;
  text-align: center;
}

.teacher-student {
  width: 100%;
}

.teacher-clear {
  clear: both;
}

.class-content {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin-top: 20px;
  margin-left: 20px;
}

.carousel-item-start {
  display: none;
}

.section-box {
}

.d-block {
  height: 300px;
}

.calendar-box {
  /* position: sticky;
  top: 1px;
  box-sizing: border-box;
  border: 1px black solid;
  background-color: edeae7;
  margin: auto;
  border-radius: 5px;
  margin-left: 10px;
   */
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 80px;
  width: 100%;
  word-break: keep-all;
  padding-left: 50px;
  margin: auto;
  animation: fadein 3s;
}

.calendar-button-box {
  margin-top: 20px;
  margin-left: 10px;
}

.calendar-button1 {
  width: 45%;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0);
  height: 40px;
}
.calendar-button1:hover {
  background-color: #1eb7e5;
}
.calendar-button1:active {
  background-color: #00ffbb;
}

.calendar-button2 {
  width: 45%;
  float: left;
  border-color: rgba(0, 0, 0, 0);
  height: 40px;
}

.calendar-button2:hover {
  background-color: #1eb7e5;
}

.calendar-button2:active {
  background-color: #00ffbb;
}

.calendar-regist-box {
  clear: both;
}

.calendar-regist {
  width: 100%;
  height: 2%;
  border: 1px solid rgba(166, 25, 25, 0);
  border-radius: 5px;
  background-color: #1eb7e5;
  margin: auto;
  margin-top: 20px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.calendar-regist:active {
  background-color: #00ffbb;
}

.cur-box-step {
  float: left;
}

.cur-box1 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cur-box2 {
  width: 100%;
  height: 70px;
}

.cur-box3 {
  width: 100%;
  height: 70px;
}

.cur-box-img {
}

.cur-img {
  width: 200px;
  height: 100px;
}

.time-cal {
  width: 750px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.loc-map {
  margin-left: 20px;
  width: 80%;
  height: 80%;
}

.notice-table {
  margin-left: 50px;
  border-spacing: 10px;
  border-collapse: separate;
}

.notice-img {
  width: 30px;
  height: 30px;
}
.teacher-img {
  border-radius: 70px;
  width: 100px;
  height: 100px;
}
.img2 {
  border-radius: 70px;
  width: 40px;
  height: 40px;
}

.review-box {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.review-nickname {
}

.review-rating {
  float: right;
}

.review-input {
  clear: both;
  float: left;
  width: 100%;
  height: 200px;
  border-radius: 5px black;
}

.review-textarea {
  width: 100%;
}

.reviewmodal-btn {
  float: right;
  margin-right: 40px;
  background-color: #1eb7e5;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0);
}

.review-modal-box {
  width: 100%;
}

.rating-position {
  right: 0px;
}

.react-datepicker__month-container {
  width: 395px;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.react-datepicker__day {
  font-size: 13px;
  font-weight: bold;
}

#nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 80px;
}

.navbar-expand {
  position: sticky;
  top: 60px;
  background-color: #dbd7d3;
  z-index: 99;
}

.navbar-nav {
  padding-right: 20px;
}

.calendar-text {
  height: 30px;
}

.modal-position {
  display: flex;
  justify-content: center;
}

.modal-span {
  text-align: center;
}

.reviewList {
  min-height: 600px;
  margin-bottom: 300px;
  /* overflow: scroll; */
}

.more-btn {
  /* position: absolute;
  left: 500px; */
  position: absolute;
  left: 500px;
  border: 1px none;
  border-radius: 5px;
  background-color: #dbd7b3;
}

#review-box-list {
  height: 100%;
}

#nana {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#box1 {
  background-color: #00ffbb;
  grid-row: 1/3;
}

#box2 {
  background-color: red;
}

#box3 {
  background-color: blue;
}

#box4 {
  background-color: bisque;
}

/* #img55 {
  position: relative;
  z-index: 1;
}
#btn55 {
  position: relative;
  z-index: 2;
  top: -60px;
} */
