.footer {
  width: 100%;
  display: flex;
  background-color: #f8f9fa;
  justify-content: center;
}

.footer-main {
  display: flex;
  /* margin-left: 10%;
  margin-right: 10%; */
  align-items: center;
}

.footer-logoImg {
  width: 100px;
  height: 100px;
}

.footer-logo {
  margin: 10px;
  width: 200px;
  height: 200px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 50px;
}

hr {
  background-color: white;
}

h5 {
  color: #808080;
}
p {
  color: #808080;
}
