.footer {
  background-color: #f8f9fa;
}

.footer-main {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

.footer-logo {
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: white;
}

.footer-content {
}

hr {
  background-color: white;
}

h5 {
  color: #808080;
}
p {
  color: #808080;
}
