.header-main {
  position: fixed;
  width: 100%;
  height: 59px;
  background-color: blue;
}

.loginButton {
  display: flex;
}

Nav.Link {
  padding-left: 100px;
}

.logoIcon {
  width: 100px;
}

.logoImg {
  width: 15%;
  height: 15%;
}
