.helpdesk-background {
  background-color: #f8f8f8;
}

.banner-container {
  opacity: 30%;
  background-color: #ff5862;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  background-image: url("../images/helpdesk-banner.png");
  background-position: center;
  background-size: cover;
}

.helpdesk-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.banner-container img {
  /* min-width: 100%; */
  min-height: 100%;
  /* opacity: 50%; */
}
#helpdesk {
  background-color: #ff5862;
  color: white;
}

.menu-container {
  border-radius: 5px;
  min-width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.menu-list {
  margin: 10px;
  background-color: #e1e2e3;
  width: 95%;
  min-height: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  justify-content: center;
  color: #0f294d;
  font-size: 1.5rem;
  font-weight: 600;
}

.menu-list:hover {
  /* border: 1px solid #38bdf8; */
  background-color: #778cb2;
  /* opacity: 50%; */
  color: #ffffff;
}

p {
  margin: 0;
  color: #808080;
}

.content-container {
  min-width: 98%;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 2rem;

  border: 1px solid #e1e2e3;
  border-radius: 3px;
  padding: 1rem;
}
