.mypage {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.mypage-banner {
  width: 100%;
  height: 250px;
  background-color: aliceblue;
}

.mypage-quickview-wrapper {
  /* border: 1px solid #ddddda; */
  width: 100%;
  height: 11rem;
  border-radius: 10px;
  /* background-color: beige; */
}

.mypage-container {
  margin-top: 70px;
  display: flex;
  width: 100%;
  min-height: 800px;
}

.mypage-sidebar-wrapper {
  width: 20%;
  /* padding: 2%; */
  height: 45rem;
  background-color: #fff;
  border: 1px solid #e1e2e3;
  border-radius: 3px;
}

.mypage-content-wrapper {
  padding-left: 30px;
  width: 80%;
  height: 500px;
}

.mypage-content {
  background-color: #fff;
  margin-top: 2rem;
  border: 1px solid #e1e2e3;
  border-radius: 3px;
  padding: 1rem;
}
