.notice-main {
  margin-left: 10%;
  margin-right: 10%;
}

.td-index {
  padding: 1em 0.5em;
  vertical-align: middle;
  width: 10%;
  min-width: 50px;
}
.td-title {
  padding: 1em 0.5em;
  vertical-align: middle;
  width: 60%;
  min-width: 200px;
}
.td-regDate {
  padding: 1em 0.5em;
  vertical-align: middle;
  width: 20%;
  min-width: 100px;
}
.td-cnt {
  padding: 1em 0.5em;
  vertical-align: middle;
  width: 10%;
  min-width: 60px;
}

.notice-table {
  text-align: center;
  /* table-layout: fixed; */
  border: 1px #a39485 solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
/* 
.notice-th {
  text-align: left;
} */

.notice-thead {
  font-weight: bold;
  color: #fff;
  background-color: #778cb2;
}

.notice-td,
.notice-th {
  padding: 1em 0.5em;
  vertical-align: middle;
}

.notice-main td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
