.quickview-wrapper {
  margin: 2%;
  width: 96%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px lightgray;
  /* justify-content: space-evenly; */
}
.quickview-item {
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  justify-items: center;
  vertical-align: middle;
  align-items: center;
  width: 25%;
  height: 80px;
  line-height: 80px;
}
.quickview-slicer {
  width: 2px;
  height: 60px;
  background-color: lightgray;
}
