.sidebar-quickview-wrapper {
  display: flex;
  width: 100%;
  height: 300px;
}

.sidebar-quickview-left {
  justify-content: center;
  text-align: center;
  width: 65%;
  height: 280px;
  margin: 5px;
  background-color: bisque;
}

.sidebar-quickview-right {
  width: 30%;
  height: 280px;
  margin: 5px;
  background-color: #2caad2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.profile-image-div {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 100%;
  background-color: blueviolet;
}

.profile-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.sidebar-quickview-right-item {
  background-color: #edeae7;
  text-align: center;
  line-height: 68px;
  border-bottom: 2px solid lightgray;
}
