.box-thumb {
  border: 1px solid rgb(255, 255, 255);
  width: 60%;
  height: 400px;
  text-align: center;
  margin: 10px;
}

.item-img-thumb {
  height: 100%;
}

.main-thumb {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-thumb-box {
  width: 100%;
  box-sizing: border-box;
}

.btn-thumb {
  width: 100px;
  height: 100px;
}

.item-img {
  width: 100%;
  height: 350px;
}

.btn-thumb-box {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
}

.btn-thumb1 {
  width: 100%;
  height: 100px;
  float: left;
}
.btn-thumb2 {
  width: 100%;
  height: 100px;
  float: left;
}
.btn-thumb3 {
  width: 100%;
  height: 100px;
  float: left;
}
.btn-thumb4 {
  width: 100%;
  height: 100px;
  float: left;
}

#main-box {
  width: 100%;
}
