.box-thumb {
  border: 1px solid rgb(255, 255, 255);
  width: 60%;
  height: 400px;
  text-align: center;
  margin: 10px;
}

.item-img-thumb {
  height: 100%;
}

.main-thumb {
  display: flex;
  justify-content: center;
}

.main-thumb-box {
  width: 100%;
  box-sizing: border-box;
}

.btn-thumb {
  width: 100px;
  height: 100px;
}

.item-img {
  width: 400px;
  height: 350px;
}
