.upp-main {
  font-size: 0.8rem;
  height: 14rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.upp-pp-wrapper {
  margin: 2rem;
  display: flex;
  justify-content: center;
}
