.upp-main {
  font-size: 0.8rem;
  height: 14rem;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.upp-pp-text {
  text-align: center;
}

.upp-pp-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 1rem 2rem;
}
