.upp-main {
  font-size: 0.8rem;
  height: 14rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.upp-pp-wrapper {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.upp-pp {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #e1e2e3;
  outline: none;
  appearance: none;
  overflow: hidden;
  background-position-x: center;
  background-position-y: center;
}

.upp-pp::file-selector-button {
  display: none;
}
